/******************************************************** start of header style ***************************************************************/
.header-style
{
	background: url("../img/header.jpg");
	background-size: cover;
	height: 100vh;
}

/* start of top-nav style */
.top-nav-part
{
	padding: 5px 30px 0;
	background: rgba(225, 225, 225, 0.6);
	height: 70px;
}
@media(max-width: 768px){
	.top-nav-part{
		height: auto;
	}
}

.navbar-brand
{
	color: #ff4f81 !important;
	font-size: 30px !important;
}
/* btn search styling - Zeinab's Edits */
.btn-search{
	background: #ff4f81;
	color: #fff;
}
.btn-search:hover{
	background-color: #f25883;
	color: #fff;
}
.form-control:focus,.form-control:hover{
	border-color: #ff4f81;
	box-shadow: none;
}

.navbar-brand i
{
	color: black !important;
	font-size: 30px;
}

/* end of top-nav style */

/* start of main-nav style */
.main-nav-bar
{
	padding: 5px 30px 0px;
	background: white;
}
.main-nav-bar-style li a
{
	/* margin-left:100px;  */
	font-size: 17px;
	padding: 15px 60px !important;
}

.main-nav-bar-style li a:hover
{
	border-right: 3px solid #ff4f81;
	border-left: 3px solid #ff4f81;
	transition: .5s all;
}

@media(max-width:1200px)
{
	.main-nav-bar-style li
	{
		font-size: 15px;
	}
}

@media(max-width:992px)
{
	.navbar-toggler
	{
		margin:10px 0px 10px 30px;
		background-color: #ff4f81;
	}

	.navbar-toggler:hover , .navbar-toggler:focus
	{
		background-color: #fff;
		border-color:#ff4f81;
	}

	.main-nav-bar-style li a 
	{
		text-align: center;
		background-color: aliceblue;
	}

	.main-nav-bar-style li a:hover
	{
		background-color: #ff4f81;
	}
}
/* end of main-nav style */

/* start of carousel */

ol.carousel-indicators li,
ol.carousel-indicators li.active {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: none;
	background: #ff4f81;
}

ol.carousel-indicators li.active 
{
	background: #e16689;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: none;
}


.carousel-item
{
	color: white;
	font-size: 35px;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 200px;
}

.modal-btn
{
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	text-decoration:none;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #ff4f81;
	padding: 10px 22px;
	border: 2px solid #ff4f81;
	margin-bottom: 20px;
}

.modal-btn:hover
{
	color: #000;
	background: #fff;
}

.img-modal
{
	width: 100%;
}
/* end of carousel  */
/******************************************************** end of header style ***************************************************************/

/******************************************************** end of about style ***************************************************************/

.about
{
	margin-top: 80px;
}

.about .container h1, h3, p
{
	text-align: center;
}

.about h1
{
	letter-spacing: 12px;
	margin-bottom: 15px;
	font-size: 40px;
}

.about h3
{
	color: #ff4f81;
}

.about .about-text
{
	padding: 10px 137px 0px;
}

.crl1
{
	background:#2dde98;
}

.crl2
{
	background:#8e43e7;
}

.crl3
{
	background:#146eb4;
}

.about-grid
{
	text-align: center;
	padding:30px;
	transition:.5s all;
	-webkit-transition: .5s all;
}

.about-grid h4
{
	color: #ff4f81;
}

.about-grid p
{
	padding: 0px;
	color: #fff;
	margin-bottom: 25px;
}

.about-grid i
{
	font-size: 50px;
	color: #fff;
	margin-bottom: 10px;
}

.about-grid i:hover
{
	color: #000;
}

.about-grid:hover
{
	box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
	-moz-box-shadow:2px 15px 70px 2px rgba(0,0,0,0.75);
}

@media(max-width:786px)
{
	.about p
	{
		padding: 10px 10px 0px;
	}
}
/******************************************************** end of about style ***************************************************************/

/******************************************************** start of services style ************************************************************/
.services
{
	background-color: #000;
	margin-top: 40px;
	padding-bottom: 40px;
}


.services h1
{
	color: #fff;
	text-align: center;
	letter-spacing: 12px;
	text-transform: uppercase;
	padding:80px 0px 20px;
}

.services h3{
	color: #ff4f81;
	margin-bottom: 20px;
}

.services p
{
	color: #fff;
	padding:10px 137px 0px;
	margin-bottom: 20px;
}

.services-grid
{
	background-color: aliceblue;
	text-align: center;
	padding:20px;
	margin-bottom: 20px;
}

.services-grid1
{
	padding:20px 15px;
	width: 100%;
	text-align: center;
}

.services-grid1 i
{
	font-size: 26px;
	color: #fff;
	text-align: center;
	line-height: 63px;
	height: 64px;
	width:64px;
	border-radius: 164px;
	background-color: #ff4f81;
}

.services-grid2
{
	padding: 20px 15px;
}

.services-grid2 p
{
	color: #000;
	padding: 0px;
	margin-bottom: auto;
}

.services-grid2 i
{
	color: #ff4f81;
	margin-right: 10px;
	font-size: 25px;
}

.services-grid-right
{
	border-right: 2px solid #ff4f81;
	text-align: center;
}

.more-details
{
	color: #000;
	text-decoration: none;
	font-size: 14px;
	margin-top:25px;
	text-align: center;
	display:inline-block;
	transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition:.5s all;
	-moz-transition:.5s all;
	border: 1px solid #000;
	padding: 8px 24px;
	border-radius:20px;
	letter-spacing: 2px;
	/*background-clip: white;*/
}

.more-details:hover
{
	color: #fff;
	background-color: #ff4f81;
	border-color: #ff2b67;
	transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition:.5s all;

}

@media(max-width:1200px)
{
	.services-grid1 i
	{
		font-size: 20px;
		line-height: 53px;
		height: 54px;
		width: 54px;
	}
}

@media(max-width:992px)
{
	.services-grid1
	{
		padding: 10px 0px;
	}

	.services p
	{
		padding: 10px 50px 0px;
	}
}

@media(max-width:768px)
{
	.services-grid1 i
	{
		margin: auto;
	}

	.services p
	{
		padding: 10px 10px 0px;
	}

	.services-grid-right
	{
		border-bottom: 2px solid #ff4f81;
		border-right: none;
	}
}
/******************************************************** end of services style ***************************************************************/

/******************************************************** start of gallery style ***************************************************************/

.gallery h1
{
	color:#000;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 80px;
	padding-bottom: 30px;
}

.gallery-grids
{
	padding: 0px 15px;
}

.gallery-grid-img
{
	padding: 0px;
}
/******************************************************** end of gallery style ***************************************************************/

/******************************************************** start of Lectures style ***************************************************************/

.lecture
{
	background: #000;
	padding-bottom: 80px;
	margin-top: 30px;
}

.lecture-card
{
	height: 250px !important;
}

.lecture h1
{
	color: #fff;
	letter-spacing: 12px;
	text-transform: uppercase;
	padding:80px 0px 20px;
	text-align: center;
}

.l-img
{
	width: 100%;
	position: relative;
	display: block;
	overflow:hidden;
	transition:.5s all;
	-webkit-transition: .5s all;
	-ms-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	opacity: 1;
	filter: alpha(opacity=100);
}

.l-img img
{
	width: 100%;
}

.l-img:hover
{
	cursor: pointer;
}

.l-img:hover .l-caption
{
	transform:translateY(0%) scale(1);
	-webkit-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
}

.l-caption
{
	background-color: rgba(1, 4, 6, 0.45);
	position:absolute;
	bottom: 0;
	left: 0;
	padding: 15px 20px;
	right:0;
	text-align: center;
	z-index:99;
	transition:.5s all;
	-webkit-transition: .5s all;
	-ms-transition:.5s all;
	-o-transition:.5s all;
	transform:translateY(150%) scale(1.5);
	-webkit-transform: translateY(150%) scale(1.5);
	-ms-transform: translateY(150%) scale(1.5);
	-o-transform: translateY(150%) scale(1.5);
	
}

.l-caption ul
{
	display: inline-block;
	margin: 0px;
	padding:0px;
}

.l-caption ul li
{
	display: inline-block;
}

.l-caption ul li a
{
	background-color: #fff;
	border-radius: 50%;
	color: #095880;
	display: inline-block;
	margin: 0px;
	height: 28px;
	text-align: center;
	line-height: 30px;
	width: 28px;
	padding-top: 5px;
	transition: 0.5s all;
	-webkit-transition: .5s all;
	-ms-transition:.5s all;
	-o-transition:.5s all;

}

.l-caption ul li a:hover
{
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
}
.l-info
{
	text-align: center;
	border: 1px solid #000;
	padding: 5px 5px 0px 5px;
	background: #ff4f81;
}

.l-info p
{
	font-size:15px;
	letter-spacing: 2px;
	color: #fff;
}

.l-info h5{
	font-size: 15px;
	letter-spacing: 1.5px;
	color: #fff;
}
/******************************************************** end of Lectures style ***************************************************************/

/******************************************************** start of inform style ***************************************************************/
.inform
{
	background: url("../img/city.jpg") 0px 0px fixed;
	background-size:cover;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
}

.inform h1
{
	color: #fff;
	letter-spacing: 10px;
	text-align: center;
}

.inform-form
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.form-left
{
	padding-left: 0px;
}

.inform input[type="text"],input[type="email"],input[type="phone"]
{
	width: 100%;
	color: #fff !important;
	background: none;
	outline: none;
	font-size: 1em;
	padding: 0.8em 1em;
	margin-bottom: 2em;
	border: none;
	border-bottom: solid 2px #fff;
	display:inline-block;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.inform textarea
{
	resize: none;
	width: 100%;
	color: #fff;
	background: none;
	outline: none;
	font-size: 1em;
	padding: 0.8em 1em;
	min-height: 10em;
	border: none;
	border-bottom: solid 2px #fff;
	display:inline-block;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.div-btn
{
	width: 100%;
}
.inform button[type="submit"]
{
	outline:none;
	color: #fff;
	padding: 0.7em 1em;
	font-size: 14px;
	margin: 10px;
	border: 1px solid #fff;
	background: #ff4f81;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition:.5s all;
	-o-transition: .5s all;
}

.inform button[type="submit"]:hover
{
	background: none;
	color: #fff;
	border: 1px solid #fff;
}	

.inform input[type="text"]:hover, inform input[type="text"]:focus, .inform input[type="email"]:hover,.inform
input [type="email"]:focus, .inform textarea:hover, .inform textarea:focus,input [type="phone"]:hover,.inform input[type="phone"]:focus
{
	border-color: #ff4f81;
}

.inform ::placeholder
{
	color: #fff;
}
/******************************************************** end of inform style ***************************************************************/

/******************************************************** start of map style ***************************************************************/
.map
{
	border: 2px solid #000;
	background: #fff;
	padding: 1em;
}

.map iframe
{
	width: 100%;
	height: 400px;
	border:none;
}
/******************************************************** end of map style ***************************************************************/

/******************************************************** start of footer style ***************************************************************/

footer
{
	background-color: #000;
}

.three-clo
{
	color: #fff;
	padding:10px;
	margin-top: 40px;
}

.three-clo h4
{
	letter-spacing: 2px;
	color: #ff4f81;
}

.three-clo p
{
	text-align: left;
}

.three-clo input[type="email"]
{
	width: 84%;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #ff4f81;
	outline: none;
	padding: 0.5em;
	font-size: 13px;
	color: #999999 !important;
}



.btn1
{
	color:#dec6be;
	font-size:18px;
	border: 1px solid #ff4f81;
	width: 14%;
	height: 37px;
	text-decoration: none;
	background-color: #ff4f81;
}

.mid-row
{
	border:4px solid #ff4f81;
	color: #000;
	padding: 35px;
	text-align: center;
	background:#fff;
	margin-top: 10px;
}

.mid-row h4
{
	font-size: 30px;
	color: #ff4f81;
	letter-spacing: 2px;
}

.social-icon i
{
	margin-top: 0.5em;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 37px;
	border: 1px solid #ff4f81;
	font-size: 16px;
	color: #ff4f81;
	cursor: pointer;
}

.social-icon i:hover
{
	color: #000;
}

.contact
{
	color: #fff;
	padding: 10px;
	margin-top: 40px;
}

.contact h4
{
	letter-spacing: 2px;
	color: #ff4f81;
}

.contact p
{
	text-align: left;
}

.contact i
{
	color: #ff4f81;
	padding-right: 20px;
}

.number
{
	color: #ff4f81 !important;
}

.number a
{
	color: #ff4f81 !important;
}
/******************************************************** end of footer style ***************************************************************/

/******************************************************** start of back-to-top style ********************************************************/
#back-to-top
{
	position: fixed;
	bottom:40px;
	right: 40px;
	z-index: 9999;
	width: 40px;
	height: 40px;
	text-align: center;
	background: url("../img/arrow.png") no-repeat 0px 0px;
	color: #444 !important;
	cursor: pointer;
	border: none;
	text-decoration: none;
	background-size: 40px;
}

.show
{
	opacity: 1 !important;
}

.hide
{
	opacity:0 !important;
}
/******************************************************** end of back-to-top style **********************************************************/
